.heroSection {
  background: linear-gradient(90deg, #1e0d35, #0f101b);
  width: 100%;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.decorLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
}

.decor1,
.decor2,
.decor3 {
  color: #4e376b;
  font-size: clamp(34px, 5vw, 40px);

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    color: #75539f;
  }
}

.heroTitle {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #352549;
  font-family: var(--font-unbounded);
  font-weight: 400;
  opacity: 0.5;
  z-index: 0;

  font-size: clamp(80px, 25vw, 130px);
  text-align: center;
  white-space: nowrap;
}

.heroImageWrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  line-height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heroImage {
  height: auto;
  width: 150vw;
  max-width: 150%;
  display: block;
}

@media (min-width: 768px) {
  .heroImage {
    width: clamp(400px, 45vw, 600px);
  }

  .heroImage {
    width: clamp(400px, 45vw, 600px);
  }
}

@media (min-width: 1200px) {
  .heroTitle {
    font-size: clamp(270px, 27vw, 380px);
    top: 50%;
  }

  .heroImage {
    min-width: 666px;
  }

  .decorLinks {
    flex-direction: row;
    gap: 30px;

    top: auto;
    left: auto;

    bottom: 20px;
    right: 40px;
    z-index: 2;
  }
}
