.aboutSection {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* background: linear-gradient(180deg, #0f101b, #1e0d35); */
}

.aboutContainer {
  padding: 50px 20px;
}

.aboutTitle {
  font-family: var(--font-unbounded);
  font-weight: 400;
  font-size: clamp(80px, 15vw, 120px);
  color: #352549;
  text-transform: uppercase;
}

.aboutText {
  font-family: var(--font-bebas-neue);
  font-size: 26px;
  color: #fff;
  max-width: 600px;
}

.imageWrap {
  display: none;
}

.imageAbout {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    padding: 30px 40px;
  }

  .aboutTitle {
    font-size: clamp(100px, 16vw, 180px);
    text-align: center;
  }

  .aboutText {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .aboutTitle {
    font-size: clamp(160px, 16vw, 210px);
    text-align: left;
  }

  .aboutText {
    font-size: 30px;
    max-width: 700px;
    text-align: left;
    margin: 0;
  }

  .imageWrap {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .imageAbout {
    display: block;
    width: 700px;
    height: auto;
    /* opacity: 0.8; */
  }
}

/* DECOR */
.decor1,
.decor2,
.decor3,
.decor4,
.decor5 {
  position: absolute;
  font-weight: 900;
  font-size: clamp(36px, 8vw, 60px);
  text-align: center;
  margin: 0;
  color: var(--color-hero-decorText);
  pointer-events: none;
  user-select: none;
  opacity: 0.05;
  z-index: -10;
}

.decor1 {
  top: 8%;
  left: 5%;
  transform: rotate(10deg);
}

.decor2 {
  top: 26%;
  right: 5%;
  transform: rotate(-10deg);
}

.decor3 {
  top: 46%;
  left: 5%;
  transform: rotate(-8deg);
}

.decor4 {
  top: 64%;
  right: 5%;
  transform: rotate(15deg);
}

.decor5 {
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1200px) {
  .decor1,
  .decor2,
  .decor3,
  .decor4,
  .decor5 {
    font-size: 100px;
  }

  .decor1 {
    top: 10%;
    left: 5%;
    right: auto;
    transform: rotate(10deg);
  }

  .decor2 {
    top: 10%;
    right: 5%;
    left: auto;
    transform: rotate(-10deg);
  }

  .decor3 {
    top: 50%;
    left: 5%;
    right: auto;
    transform: translateY(-50%) rotate(-8deg);
  }

  .decor4 {
    top: 50%;
    right: 5%;
    left: auto;
    transform: translateY(-50%) rotate(15deg);
  }

  .decor5 {
    top: auto;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
